.recovery-level {
    margin: 13px 10px 0px 12px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 35px 12px;
}

button:hover {
    background: #218838;
}

.doboz {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: black 0px 0px 12px;
    max-width: 96%;
}

.zold {
    color: #4CAF50;
    font-weight: bold;
}

